:root {
  --min-screen-height: 1000px;
  --border: solid 0.1rem var(--border-color);
}

.App {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 0.7fr 0.9fr 1.5fr 0.9fr;
  grid-template-rows: 2.75rem 3fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar leftmenu content rightmenu";
  gap: 0.75rem 0.4rem;
}

.navigation {
  grid-area: nav;
  background-color: darkcyan;
}

.sidebar {
  background-color: aliceblue;
  grid-area: sidebar;
  min-height: var(--min-screen-height);
}

.leftmenu {
  grid-area: leftmenu;
  background-color: skyblue;
}

.content {
  grid-area: content;
  min-height: var(--min-screen-height);
  background-color: blanchedalmond;
}

.rightmenu {
  grid-area: rightmenu;
  background-color: coral;
}

.modal-menu {
  position: fixed;
  min-width: 550px;
  left: 50%;
  top: 4.5rem;
  transform: translate(-50%);
  border: var(--border);
  border-radius: 5px;
  background-color: white;
  padding: 1em;
  z-index: 1000;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "content";
  }

  .modal-menu {
    min-width: 60px;
    left: 0.5em;
    right: 0.5em;
    top: 3.5em;
    transform: translate(0);
  }
}
